<nav class= "navbox">
{% for item in site.data.navigation %}
    <a class="nav-par" href="{{ item.link }}"> <button {% if page.url == item.link %}class="nav-button current_page" {% endif %} class="nav-button" align="middle" > {{ item.name }} </button> </a>
{% endfor %}
</nav>

<!-- Import fonts -->
<style>
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
</style>

<style>
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
</style>

<style>
@font-face {
  font-family: 'noita-glyph';
  src: url('assets/fonts/Noita-Glyph.ttf') format('truetype');
}

</style>
<!-- End import -->
