.welcome-text {
  font-family: "special elite";  
  font-size: 7vw;
  position: relative;
  top: 20px; 
  mix-blend-mode: exclusion;
  right: 6.5vw;
  //z-index: 100;
  white-space: nowrap;
  color: coral;
}

.sky{
 position: relative;
 //bottom: 170px;
 margin: auto;
 overflow: visible;
 background-image: url(/assets/images/sky.png);
 background-size: cover;
 width: 55%;
 z-index: 1;
}

.welcome-subtext {
  font-family: noita-glyph; //"ibm plex mono";
  position: relative;
  bottom: 20px;
  font-size: 2.5vw;
  mix-blend-mode: hard-light;
  //background: linear-gradient(-45deg, red, lightred, #eee);
  //-webkit-background-clip: text;
  //-webkit-text-fill-color: solid;
  //z-index: 9999;
  font-weight: lighter;
  color: crimson;

}

.anim-text {
  animation: grad-text 10s ease infinite;
  -webkit-animation: grad-text 10s ease infinite;
}

