.welcome-text {
  font-family: "special elite";  
  font-size: 72pt;
  position: relative;
  top: 130px; 
  letter-spacing: 0px;
  mix-blend-mode: exclusion;
  background: linear-gradient(-45deg, green, lightgreen, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 10;
}

.sky{
 position: relative;
 bottom: 170px;
 width: 50%;
 z-index: 1;
}

.welcome-subtext {
  font-family: "ibm plex mono";
  position: relative;
  bottom: 320px;
  font-size: 26pt;
  mix-blend-mode: exclusion;
  background: linear-gradient(-45deg, red, lightred, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: solid;
  z-index: 9999;
}

.anim-text {
  animation: grad-text 10s ease infinite;
  -webkit-animation: grad-text 10s ease infinite;
}

@keyframes grad-text {
  	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

